$bg-primary: #9d0030;
$bg-secondary: #600c25;
$highlight-primary: #d20040;
$highlight-secondary: #f2c344;

$header-length: 5em;
$mobile-margin: 90%;
$desktop-max-width: 1400px;
$desktop-wide-width: 1650px;
